
  
  .col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 200vh;
margin: 6%;   
 height: auto;

    width: 100%;

  }
  

  .col-light{
color: black; 
 }
  .movieImage {
    border-radius: 15px;

  }
  
  .movieDetails {
    font-size: 1.5rem;
    margin-left: 6%;
  }
  
  .firstItem {
    margin-left: 5%;
  }
  
  .goCart{
    width: 20%;
    height: 30px;
    background-color: rgb(88, 96, 160);
    border-radius: 20px;
    border: 2px  solid rgb(64, 10, 151); 
    color:rgb(64, 10, 151) ;
    font-size: 15px;
    font-weight: bold;
  }